.about-card h1 {
    text-align: center;
    padding: 0px;
}

.about-card h5 {
    text-align: center;
}

.about-card {
    background-color: gainsboro;
    padding: 80px;
}

.about-flex {
    display: flex;
    padding: 60px;
}

#about-img {
    width: 650px;
    height: 500px;
    margin-left: 70px;
    margin-right: 200px;
    margin-top: 40px;
}

#about-text {
    font-size: 50px;
    margin-left: 100px;
}

#about-text2 {
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    line-height: 2;
    text-align: justify;
}

#about-text3 {
    font-size: 22px;
    padding: 10px;
    margin-left: 150px;
    line-height: 2.5;
    text-align: justify;
}

#about-img2 {
    width: 650px;
    height: 600px;
    margin-left: 100px;
}

#about-text4 {
    margin-left: 80px;
    margin-right: 200px;
    margin-top: 40px;
    padding: 10px;
    line-height: 2;
}

#icon-text {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#icon-text2 {
    margin-left: 20px;
    margin-top: 10px;
}

#draft-icon {
    width: 70px;
    height: 70px;
}

#advantage {
    font-size: 50px;
    margin-left: 80px;
    padding: 40px;
}

.aboutdownicons {
    padding: 40px;
}

#about-img3 {
    width: 750px;
    height: 500px;
    margin-left: 70px;
    margin-right: 200px;
    margin-top: 60px;
}

.slider {
    margin: 0px;
}
.c-slider {
    background-color: white;
    width: 500px;
    color: black;
    border-radius: 20px;
    border: 1px solid;
    margin: 20px !important;
}
.c-img {
    text-align: center;
}

.slider-img {
    height: 150px;
    width: 150px;
}

.c-down {
    text-align: left;
    margin-bottom: 20px;
}

.c-down h4 {
    text-align: center;
}

.c-down p1 {
    margin-left: 100px;
    font-size: 25px;
    margin-bottom: 100px;

}

.crfull {
    font-size: 25px;
    margin: 30px;
}

.crfull:hover {
    background-color: green;
    color: white;
}

.slick-slide { 
    float: right;/* Float the slides to make them appear side by side */
    
}

.slick-list {
    overflow: inherit; /* Prevent overflow issues */
} 


 @media screen and (max-width: 768px) {
    .about {
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media screen and (min-width: 567px) {
    .about {
        margin-left: 0px;
        margin-right: 0px;
    }

}